**/__Previews
**/History
**/Project logs for*
**/Project outputs for*
**/.ipynb_checkpoints
**/*.html
**/*.htm
**/*.STEP
**/*.log
**/*.PrjPcbStructure
**/*.Harness
**/*.gcode
**/Status Report.Txt
**/*.zip
**/*.RUL
**/*.LDP
**/*.apr
**/*.EXTREP
**/*.APR_LIB